*~
.#*
.*.swp
log/*
config/conf.yml
config/autograders.yml
config/
.idea/
coverage/
submissions/
rottenpotatoes/
rspec_output.txt
config/conf_passwords.yml
stdout_subprocess
err_subprocess
cert_file
config/test_conf.yml
spec/log/

# avoiding symlinks needed for HW1.5 Oracle of Bacon
spec/graph_example.xml
spec/graph_example2.xml
spec/spellcheck_example.xml
spec/unauthorized_access.xml
spec/unknown.xml

.vagrant/
