*~
.#*
.*.swp
log/*
config/conf.yml
config/autograders.yml

.idea/
coverage/

cert_file
config/test_conf.yml
spec/log/

# avoiding symlinks needed for HW1.5 Oracle of Bacon
spec/graph_example.xml
spec/graph_example2.xml
spec/spellcheck_example.xml
spec/unauthorized_access.xml
spec/unknown.xml
