# Default configuration name
default: saas-staging
# Each configuration must have endpoint_uri, api_key, and autograders_yml
saas-staging:
  endpoint_uri: https://berkeley.campus-class.org/saas-staging/
  api_key: 
  autograders_yml: autograders.yml
